$tag-margin: 5px;
$tag-padding: 10px;
.tag {
    color: white;
    display: inline-block;
    margin-left: $tag-margin;
    padding: $tag-padding / 2;
    padding-left: $tag-padding;
    padding-right: $tag-padding;
    background-color: gray(60);
    border-radius: 3px;
}
