@import "../../../../styles/global";

.radio-item,
.ant-checkbox-wrapper {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0 !important;
  line-height: 2.5;

  @media (min-width: $small-screen) {
    width: 24%;
    margin-bottom: initial;
    margin-top: initial;
  }
}
