.question {
  margin: 5px;
}

.question-prompt {

}

.question-prompt-error {
  color: #f44336;
}

.question-options-container {
  margin-top: 15px;
  margin-bottom: 15px;

  > * {
    color: #888;
    display: block !important;
  }
}

.question-actions-container {
  text-align: right;
}